.acf-product-cards {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    background: #fff;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.acf-product-cards__header {
    padding: 15px;
    font-size: 1.5rem;
    font-weight: bold;
}

.acf-product-cards__image img {
    width: 100%;
    height: auto;
}

.acf-product-cards__content {
    padding: 15px;
    font-size: 1rem;
    color: #333;
}

.acf-product-cards__button {
    display: inline-block;
    background: black;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 10px;
}

.acf-product-cards__link a {
    display: block;
    margin-top: 10px;
    font-size: 0.9rem;
    color: #007bff;
    text-decoration: none;
}